In [21]:
#ANS1
a=input()
x=a.index("@")
print(a[x+1:len(a)-4])

akshkhandelwal@google.com
google

In [23]:
#ANS2"
L=["without","hello","bag","world"]
L.sort()
print(L)

['bag', 'hello', 'without', 'world']

In [1]:
#ANS3
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [3]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [5]:
set1= {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

In [6]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [11]:

thisset = {"apple", "banana", "cherry"}
del thisset

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

apple

In [18]:
thisset = set(("apple", "banana", "cherry")) 
print(thisset)

{'apple', 'cherry', 'banana'}

In [3]:
#ANS4
a=[1,2,3,4,6,7,8]
n=len(a)
s1=sum(a)
s2=(n+1)*(n+2)/2
miss=s2-s1
print(miss)

5.0

In [24]:
#ANS5
def rem(duplicate):
    new_list=[]
    for i in dupicate:
        if i not in new_list:
            new_list.append(i)
            new_list.sort()
    return new_list 
        
duplicate=[24, 12, 35, 24, 88, 120, 155 ,88 ,120, 155]
a=rem(duplicate)
print(rem(duplicate))

[12, 24, 35, 88, 120, 155]